@import "variables";
@import "../../../static/scss/normalize";

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  //padding: 0 15px;
}

h1,h2{
  font-size: 2rem;
  padding: 15px 0;
}
h3{
  padding-bottom: 15px;
  font-size: 1.5rem;
}
.p15{
  padding: 15px;
}
body{
  overflow-x: hidden;
}

@media (max-width: 1199px) {
  .container{
    width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container{
    width: 958px;
  }
}
@media (max-width: 991px) {
  .container{
    width: unset;
  }
}
